---
# Infrastructure VLAN 4 pool - for DNS and critical services
# Announced via L2 mode on VLAN 4 interface
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: infra-pool-vlan4
  namespace: metallb-system
spec:
  addresses:
  - 192.168.4.50-192.168.4.59
---
# Services VLAN 8 pool - for Traefik and application services
# Announced via L2 mode on VLAN 8 interface
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: services-pool-vlan8
  namespace: metallb-system
spec:
  addresses:
  - 192.168.8.50-192.168.8.79
---
# L2 Advertisement for VLAN 4 infrastructure services
# Announced on main interface (untagged VLAN 1/4) for global reachability
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-vlan4
  namespace: metallb-system
spec:
  ipAddressPools:
  - infra-pool-vlan4
  interfaces:
  - enp197s0  # Main interface (untagged = VLAN 1/4) for DNS reachability from all VLANs
  nodeSelectors:
  - matchLabels:
      kubernetes.io/hostname: n5
---
# L2 Advertisement for VLAN 8 application services
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-vlan8
  namespace: metallb-system
spec:
  ipAddressPools:
  - services-pool-vlan8
  interfaces:
  - enp197s0.8  # VLAN 8 interface for application LoadBalancers
  nodeSelectors:
  - matchLabels:
      kubernetes.io/hostname: n5
