# Logs
*.db*
*.log*

# Tracked by HACS
custom_components/
www/community/
.storage

# Secrets
secrets.yaml
esphome/secrets.yaml
*august.conf*
!.ssh/config

# Media Content
image/
tts/
nest/event_media
media/llmvision

# Claude
.claude/*local*
.config/**
!.config/ssh/config
!.config/ssh/known_hosts# Test GitOps flow - Mon Nov 17 23:01:01 PST 2025
