apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - pvc.yaml
  - secret.sops.yaml
  - oidc-config.sops.yaml
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml
