---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
  annotations:
    external-dns.alpha.kubernetes.io/hostname: uptime.jaxon.cloud
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`uptime.jaxon.cloud`)
      kind: Rule
      services:
        - name: uptime-kuma
          port: 3001
  tls:
    certResolver: letsencrypt
