---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unifi-controller
  namespace: unifi
  annotations:
    external-dns.alpha.kubernetes.io/hostname: unifi.jax-lab.dev
    external-dns.alpha.kubernetes.io/target: 192.168.8.50
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`unifi.jax-lab.dev`)
      kind: Rule
      services:
        - name: unifi-controller
          port: 443
          serversTransport: unifi-transport
  tls:
    certResolver: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: unifi-transport
  namespace: unifi
spec:
  insecureSkipVerify: true
