---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - ingressroute.yaml
  - oauth-secret.yaml

patches:
  - path: statefulset-patch.yaml
    target:
      kind: StatefulSet
      name: open-webui
