---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: open-webui
  namespace: open-webui
spec:
  template:
    spec:
      hostAliases:
      - hostnames:
        - auth.jaxon.cloud
        ip: 192.168.8.50
