# RATGDO Garage Door Controller Template
# For Security+ 2.0 openers (yellow learn button)

substitutions:
  id_prefix: garage
  friendly_name: "Garage Door"
  # Pin assignments for RATGDO v2.5i
  uart_tx_pin: D1
  uart_rx_pin: D2
  input_obst_pin: D7
  status_door_pin: D0
  status_obstruction_pin: D8
  dry_contact_open_pin: D5
  dry_contact_close_pin: D6
  dry_contact_light_pin: D3

packages:
  ratgdo:
    url: https://github.com/ratgdo/esphome-ratgdo
    ref: main
    files: [base.yaml]
    refresh: 1s

esphome:
  name: ${id_prefix}
  friendly_name: ${friendly_name}

esp8266:
  board: d1_mini
  restore_from_flash: true

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "${id_prefix}"
    password: !secret fallback_password

captive_portal:

api:
  encryption:
    key: !secret api_key

ota:
  - platform: esphome
    password: !secret ota_password

logger:
  level: INFO

web_server:
  port: 80

# Additional sensors/customizations below
# The base.yaml provides: cover, light switch, lock switch, obstruction sensor

sensor:
  - platform: wifi_signal
    name: "${friendly_name} WiFi Signal"
    update_interval: 300s

binary_sensor:
  - platform: status
    name: "${friendly_name} Status"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: "${friendly_name} IP"

button:
  - platform: restart
    name: "${friendly_name} Restart"
